@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBF8F5;
  --text-primaty: black;
}

body {
  color: var(--text-primary);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
